# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# User-specific stuff
/tasks.xml
/usage.statistics.xml
/dictionaries
/shelf
# Sensitive or high-churn files # Datasource local storage ignored files
/dataSources/
/dataSources.ids
/dataSources.local.xml
/sqlDataSources.xml
/dynamic.xml
/uiDesigner.xml
/dbnavigator.xml